/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------- */

html {
    font-family: 'Red Hat Display', sans-serif;
    font-size:18px;
    box-sizing: border-box;
    overflow-x:hidden;
}

section {
    width:90vw;
    margin:0 auto;
    text-align: center;
}


nav {
    text-align:center;
    padding:3rem;
}

.herographic-left, .herographic-right {
    display: none;
}

.herographic-mobile {
    width:105%;
}

.hero-info {
    margin: 3rem auto;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.hero-title {
    font-weight: 900;
    font-size: clamp(2rem, 2rem + 1vw, 3rem);
    color: #28283D;
    line-height: 1.1em;
    text-align: center;
}

.hero-description, .main-copy, .footer-copy {
    font-weight: 500;
    line-height:1.6em;
    color: #87879D;
    font-size: clamp(0.8rem, 0.7rem + 1vw, 1rem);
    text-align: center;
}


.cta {
    display:flex;
    flex-direction: column;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
}

.download-link, .about-link, .footer-download-link {
    font-weight: 900;
    font-size: 0.9rem;
    text-decoration: none;
    color:white;
    padding:1.1em 1.5em;
    border-radius: 3em;
}

.download-link {
    background-color: #4D96A9 ;
    transition: background-color 300ms;
}

.download-link span {
    color: #8FE3F9;
}

.download-link:hover {
    background-color: #71C0D4;
}

.about-link {
    background-color: #855FB1;
    transition: background-color 300ms;
}

.about-link:hover {
    background-color: #B18BDD;
}

.section-line {
    width:1px;
    height:80px;
    background-color: rgba(135,135,157,0.25);
    margin: 0 auto;
}

.section-number {
    padding:1.2em;
    color: #87879D;
    font-weight: 900;
    font-size: 0.9rem;
    border: 1px solid rgba(135,135,157,0.25);
    display:inline-block;
    margin: 0 auto;
    border-radius: 50%;
    background-color: white;
}

.gallery {
    padding: 4rem 0;
    display: grid;
    grid-template-row: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}

.gallery>img {
    width:100%;
    border-radius: 1em;

}

.main {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    margin: 0 auto 10rem auto;

}

.subtitle {
    text-transform: uppercase;
    font-weight: 900;
    color:#4D96A9;
    letter-spacing: 4px;
    font-size: 0.9rem;
}

.main-title, .footer-title {
    font-weight: 900;
    font-size: clamp(1.5rem, 1.5rem + 1vw, 2rem);
    color: #28283D;
    line-height: 1.1em;
}

footer {
    background-color:#4D96A9;
    position:relative;
    text-align:center;
}

footer::after {
    content: "";
    width:100%;
    height:100%;
    background-image: url("assets/mobile/image-footer.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    position:absolute;
    top:0;
    left:0;
    opacity:0.1;
}

.section-mark2 {
    position: relative;
    top:-6rem;
    z-index: 3;
    
}

.footer-content {
    width: 90vw;
    margin: 0 auto;
    padding-bottom:6rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    place-content: center;
    place-items: center;
    gap: 1.1em;
    position: relative;
    z-index: 2;
}

.footer-title, .footer-copy {
    color: white;
}


.footer-download-link {
    background-color: #855FB1;
    transition: background-color 300ms;
}

.footer-download-link span {
    color: #D9B8FF;
}

.footer-download-link:hover {
    background-color: #B18BDD;
}

@media (min-width:750px) {
    .cta {
        flex-direction: row;
    }

    .gallery {
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: auto;
        gap:0.6em;
    }

    footer::after {
        background-image: url("assets/tablet/image-footer.jpg");
    } 

}


@media (min-width:1200px) {
    section, .footer-content {
        max-width: 1100px;
        margin: 0 auto;
    }

    header {
        width: 100%;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-content: center;
        place-items: center;
    }

    .herographic-mobile {
        display:none;
    }

    .herographic-left, .herographic-right {
        display:inline-block;
        position:relative;
        width:85%;
    }


    .herographic-left {
        justify-self: start;
        left:-1.5em;
    }

    .herographic-right {
        justify-self: end;
        order: 3;
        right:-1.5em;
    }

    .footer-content {
        grid-template-columns: 1.5fr 1fr 1fr;
        grid-template-rows: auto;
        text-align:left;
        gap: 1em;
    }

    .footer-copy {
        text-align: left;
    }

    footer::after {
        background-image: url("assets/desktop/image-footer.jpg");
    } 

    .footer-download-link {
        justify-self: end;
    }
}